<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "<< Back", articles_path %></li>
  <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
  <li><%= button_to "Destroy Article", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <%= button_to "Destroy Comment", article_comment_url(comment.article, comment),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit Comment", edit_article_comment_path(comment.article, comment) %></li>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
